body{
    display : flex;
    flex-direction : column;
    background-color : rgb(147, 150, 151);
    height : 100vh;
}
header{
    background-color: rgb(28, 129, 53);
    text-align: center;
    color: whitesmoke;
    border-radius : 10px;
    width : 100%;
    transition : 0.2s;
}
header:hover{
    transform : translateY(-5px);
    box-shadow : 0 10px 20px rgba(0,0,0,0.25);
}
main{
    display : flex;
    flex-wrap : wrap;
    justify-content: center;
    flex-grow : 1;
}
.card, #envAdvantage, #ecoAdvantage{
    display : flex;
    flex-direction : column;
    flex-grow : 1;
    flex-shrink : 1;
    background-color : rgb(93, 106, 221);
    border-radius : 10px;
    max-width : 500px;
    margin : 20px;
}

footer{
    align-self : center;
}

